<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean name="artist" class="com.revature.beans.Artist">
		<property name="artistid" value="1"></property>
		<property name="name" value="Bon Jovi"></property>
	</bean>

	<bean name="album" class="com.revature.beans.Album">
		<property name="albumid" value="1"></property>
		<property name="title" value="My Way"></property>
		<property name="artistid" ref="artist"></property>
	</bean>
</beans>
